In [ ]:
# How do interest rate changes from the Federal Reserve affect stock prices during 2022?
# How does the inflation rate correlate with stock prices during 2022?
# Does trading volume correlate to changes in interest rates in 2022?
# Which stocks appear to be the best investment insofar as performance?

In [5]:
# import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json

# import data files
facebookDataPath = "data/Facebook.csv"
amazonDataPath = "data/Amazon.csv"
appleDataPath = "data/Apple.csv"
netflixDataPath = "data/Netflix.csv"
googleDataPath = "data/Google.csv"

# read and display the data
facebook_csv = pd.read_csv(facebookDataPath)
amazon_csv = pd.read_csv(amazonDataPath)
apple_csv = pd.read_csv(appleDataPath)
netflix_csv = pd.read_csv(netflixDataPath)
google_csv = pd.read_csv(googleDataPath)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-05-18,42.049999,45.000000,38.000000,38.230000,38.230000,573576400
1,2012-05-21,36.529999,36.660000,33.000000,34.029999,34.029999,168192700
2,2012-05-22,32.610001,33.590000,30.940001,31.000000,31.000000,101786600
3,2012-05-23,31.370001,32.500000,31.360001,32.000000,32.000000,73600000
4,2012-05-24,32.950001,33.209999,31.770000,33.029999,33.029999,50237200
...,...,...,...,...,...,...,...
2071,2020-08-12,258.970001,263.899994,258.109985,259.890015,259.890015,21428300
2072,2020-08-13,261.549988,265.160004,259.570007,261.299988,261.299988,17374000
2073,2020-08-14,262.309998,262.649994,258.679993,261.239990,261.239990,14792700
2074,2020-08-17,262.500000,264.100006,259.399994,261.160004,261.160004,13351100
2075,2020-08-18,260.950012,265.149994,259.260010,262.339996,262.339996,18677500